#credit-card-form
  %h2
    Payment details
  .field
    = label_tag :card_number, "Credit Card Number"
    = text_field_tag :card_number, nil, name: nil, required: true, pattern: 'card'
    %small.error
      Please enter a valid card
  #expiration.field
    = label_tag :card_month, "Card Expiration"
    = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
    = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}

  #cvv.field
    = label_tag :card_code, "CVV Code"
    = text_field_tag :card_code, nil, name: nil, required: true, pattern: 'cvv'
    %small.error
      Please enter a valid CVV
#stripe_error
  %noscript
    JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
