#share-modal.reveal-modal(data-reveal)
  %h2
    Awesome you found your first email!
  %p
    Share DirectContact, your new found competitive edge!
  .row
    .small-12.medium-6.medium-centered.columns.center
      = twitter_button count: 'vertical', url: 'http://GetDirectContact.com'
      = facebook_button layout: 'box_count', url: 'http://GetDirectContact.com'
      = linkedin_button counter: 'top', url: 'http://GetDirectContact.com'
      = google_plus_button annotation: 'vertical-button', height: true, url: 'http://GetDirectContact.com'
      = reddit_button url: 'http://GetDirectContact.com'
  %a.close-reveal-modal
    &#215;
