%nav.top-bar(data-topbar)
  %ul.title-area
    %li.name
      = link_to image_tag('logo.png', id: 'logo'), root_path
    %li.toggle-topbar.menu-icon
      = link_to 'Menu', '#'
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li.has-dropdown
          = link_to current_user.email, edit_user_registration_path, data: { "no-turbolink" => true }
          %ul.dropdown
            %li
              = link_to pricing_path do
                Remaining:
                %strong#remaining
                  = current_user.remaining_found_emails_count
            %li
              = link_to 'Edit profile', edit_user_registration_path, data: { "no-turbolink" => true }
            %li
              = link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %li
          = link_to 'Sign up', pricing_path(ref: 'nav')
        %li
          = link_to 'Login', new_user_session_path
